html {
  font-size: 100%;
}

body {
  background: radial-gradient(
      closest-corner circle at 15% 15%,
      #ffcf33,
      #ffcf33 20%,
      #ffff66 21%,
      #b8e1ff
    );
  background-repeat: no-repeat;
  background-color: #b8e1ff;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1, h2, p, form {
  text-align: center;
}

button {
  padding: 1px 20px;
}